

    <h2>{{title}}</h2>
    <div class="form-group row">
      <label for="contractId" class="col-xs-2 col-form-label">ContractId</label>
      <div class="col-xs-4">
        <input  class="form-control" type="text" [(ngModel)]="contract.contract_id"  id="contractId" placeholder="Contract Id"/>
      </div>
    </div>
    <div class="form-group row">
      <label for="name" class="col-xs-2 col-form-label">Customer_name</label>
      <div class="col-xs-4">
        <input  class="form-control" type="text" [(ngModel)]="contract.customer_name"  id="name" placeholder="Customer Name"/>
      </div>
    </div>
    <div class="form-group row">
      <label for="acc_bal" class="col-xs-2 col-form-label">Account Balance</label>
      <div class="col-xs-4">
        <input  class="form-control" type="text" [(ngModel)]="contract.account_balance"  id="acc_bal" placeholder="Account Balance"/>
      </div>
    </div>
    <div class="form-group row">
      <label for="duration" class="col-xs-2 col-form-label">Duration(Mon)</label>
      <div class="col-xs-4">
        <input  class="form-control" type="text" [(ngModel)]="contract.contract_duration_months"  id="duration" placeholder="Duration Per Month"/>
      </div>
    </div>
    <div class="form-group row">
      <label for="signed" class="col-xs-2 col-form-label">Signed</label>
      <div class="col-xs-4">
        <input class="form-control" type="checkbox"  [(ngModel)]="contract.signed"  id="signed"/>
      </div>
    </div>
    <div class="form-group row">
      <label for="state" class="col-xs-2 col-form-label">State</label>
      <div class="col-xs-4">
        <input class="form-control" type="checkbox"  [(ngModel)]="contract.state"  id="state"/>
      </div>
    </div>
    <div class="form-group row">
      <label for="ctype" class="col-xs-2 col-form-label">Contract Type</label>
      <div class="col-xs-4">
        <input  class="form-control" type="text" [(ngModel)]="contract.contract_type"  id="ctype" placeholder="Contract type"/>
      </div>
    </div>
    <!--
    <div class="form-group row">
      <label for="tariff" class="col-xs-2 col-form-label">Tariff</label>
      <div class="col-xs-4">
        <input  class="form-control" type="text" [(ngModel)]="contract.tariff_id"  id="tariff" placeholder="Tariff"/>
      </div>
    </div>-->
    <div class="form-group row">
      <label class="col-xs-2 col-form-label">Tariff</label>
      <div class="col-xs-4">
        <select class="form-control"[(ngModel)]="contract.tariff_id">
          <option *ngFor="let tariff of tariffs" value="{{tariff._id}}">{{tariff.name}}</option>
        </select>
      </div>
    </div>
<div class="form-group row">
  <div class="col-xs-4">
	    <button class="btn btn-primary" (click)="add()">{{btn_name}}</button>
	    <button class="btn " (click)="goBack()">Back</button>
  </div>
</div>

